@import "https://fonts.googleapis.com/css?family=Noto+Serif+JP";
html{
    position: relative;
    height: 100%;
    min-height: 100%;
    max-width: 100vw;
    background-color: beige;
    /* background: url("Images/apartmentNight.jpg") no-repeat center/cover; */
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: purple; */
}

.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    /* border: 2px dashed red; */
}

/* Navbar */

nav{
    width: 100%;
background: aquamarine;
padding: 20px 0;
}

nav .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container a{
    text-decoration: none;
    margin: 0 5px;
    /* display: inline-block; now padding wont work */
    color: #111;
}

/* Main */

main .aboutMe{
    
    /*background-color: rgba(229, 236, 126, 0.562);*/
    border-radius: 5px;
    text-align: center;
    margin: 40px 0;
}

main .aboutMe h2{
    margin-bottom:-10px;
    background-color: aquamarine;
    box-shadow:-5px 5px 8px #308375;
    border:2px solid black;
    border-radius: 5px;
    max-width: 430px;
    margin: 0 auto;
   }
main .projects{
    
    /*background-color: rgba(233, 230, 230, 0.993);*/
    border-radius: 5px;
    text-align: center;


}
main .projects h2{
    margin-bottom:-10px;
    background-color: aquamarine;
    box-shadow:-5px 5px 8px #308375;
    border:2px solid black;
    border-radius: 5px;
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    
}
   /* Footer */

   footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(163, 160, 122, 0.418);
    padding: 14px 0;
    }

footer .container{
    display: flex;
    justify-content: center;
}

footer .socialContainer{
    display: flex;
}

footer .socialContainer .socialTag{
    display: flex;
    position: relative;
    margin: 0px;
    padding-right:0px;
    bottom:-6px;
    right:5px;
}

footer .container #attrContainer{
    display: inline-flex;
    position: absolute;
    left:86%;
    bottom:0%;
    width: auto;
    opacity: 1;
}

footer .socialContainer a{
display: flex;
flex-direction: row;
padding: 3px;
}
footer .socialContainer a:hover{
    transform: rotate(360deg) scale(1.2);
    transition-duration: .5s;
    background-color: rgba(128, 123, 199, 0.356);
    border-radius: 500px;
    display: flex;
    flex-direction: row;
}

/*The header and its contents follow as the user scrolls*/